@import "./../../styles/mixins";
@import "./../../styles/variables";

.header {
  @include flexAround;
  margin: 0;
  box-shadow: 0 5px 20px -4px #0000008c;

  @include mobileBig {
    @include flexCentered;
    flex-direction: column;
  }

  .logo {
    font-size: 21px;
    letter-spacing: 20px;
    font-weight: 900;
    background: #fff;
    background: linear-gradient(45deg, #f82055 33%, #0D61BC 66%, #8AA9D6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #0B2349;
    width: -moz-fit-content;
    width: fit-content;
    margin: 10px;
    padding: 10px 25px 10px 38px;
    border: 2px solid;
    border-image: linear-gradient(20deg, #f92056 38%, #00deff 65%);
    border-image-slice: 1;
    box-shadow: 6px 6px 17px -13px #333333bf;
    user-select: none;
    cursor: pointer;
    transition: .4s linear;

    &:hover {
      border-image: linear-gradient(250deg, #f92056 38%, #00deff 65%);
      border-image-slice: 1;
    }
  }

  a {
    padding: 1.2rem;
    border-radius: 7px;

  }

  a:hover {
    background: #d5e1ef14;
  }

  a:active {
    background: #d5e1ef14;
    box-shadow: 0 0 0 1px #0B2349;
  }
}

.nav {
  ul {
    list-style: none;
    margin: 0;
    height: 4rem;
    padding: 0;
    @include flexCentered
  }
  li {
    margin-left: 1rem;
    font-weight: 600;
    color: $lightTextColor;
    text-transform: uppercase;
    cursor: pointer;
  }
}
