@import "./../../styles/mixins";
@import "./../../styles/variables";

.newWish {
  width: 4rem;
  height: 2rem;
  background: $primary-dark-gradient;
  color: $lightTextColor;
  margin: -2rem auto 1rem;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  display: block;
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.58);
  transition: all .1s ease-in-out;
  cursor: pointer;

  &:hover {
    box-shadow: 0 0 0 1px rgb(255, 255, 255);
    transition: all .3s ease-in-out;
    transition-delay: 0s;
  }
}
