$primaryTextColor: #101e19;
$lightblue: #3D9DEA;
$lightblue-transparent: #3d9dea66;
$darkblue: rgba(50, 51, 50, 0.81);
$lightTextColor: #D5E1EF;

$main-bg-color-grad:linear-gradient(90deg, #414850, #131720);
$bg-dark-blue-color-grad: linear-gradient(120deg,  #343A4F, #0F1620) ;
$bg-light-silver-grad: linear-gradient(176deg, $lightblue-transparent, #ffffff);
