@import "./../../styles/variables";
@import "./../../styles/mixins";

.form {
}

.control {
  margin-bottom: 0.5rem;
}

.control label {
  display: block;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.control input,
.control textarea {
  display: block;
  font: inherit;
  border-radius: 4px;
  border: 1px solid $border-raddy-color;
  padding: 0.5rem 0.8rem;
  width: 100%;
  background: #525252;

  &:focus {
    background: rgba(11, 35, 73, 0.51);
    color: $lightTextColor;
    border: 1px solid $border-raddy-color;
  }
}



.actions {
  margin-top: 1rem;
  text-align: right;
}
