@import "./../../styles/variables";
@import "./../../styles/mixins";

.formWrap {
  border-radius: 6px;
  background: #202e3a;
  box-shadow: 0 0 0 1px #ffffff2e, 0 0 18px -9px #000000;
  width: 27rem;
  max-width: 95%;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  height: fit-content;
  padding: 4rem 2rem;
  z-index: 10;
  @include mobile {
    max-width: 100%;
    height: 100%;
    transition: .2s linear;
    box-shadow: none;
    border-radius: none;
  }
}

.control {
  margin-bottom: 1.5rem;
}

.control label {
  display: block;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.control input,
.control textarea {
  display: block;
  color: #fff;
  font: inherit;
  background: #0000000f;
  border-radius: 8px;
  border: none;
  padding: 0.5rem 1rem;
  width: 100%;
  box-shadow: 0 0 0 1px #ffffff0d;
  
  @include mobile {
    background: #00000000;
    padding: 0.5rem 1rem;
    border-radius: 0;
    border-bottom: 1px solid #9d9d9d3b;
    outline: none;
    box-shadow: none;
  }
}

.actions {
  margin-top: 1rem;
  text-align: right;
}

.closeButon {
  position: absolute;
  left: 10px;
  top: 11px;
  background: #202e3a;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  padding: 5px 18px;
  color: #fff;
  
  &:hover {
    background: #2c3e4d;
  }
}

.submitButton {
  background: #a43a5473;
  border-radius: 5px;
  border: none;
  padding: 6px 20px;
  color: #D5E1EF;
  font-size: 13px;
  box-shadow: 0 0 0 2px #a43a54;
  text-transform: uppercase;
  cursor: pointer;
  margin: 0 auto;
  display: block;

  &:disabled {
    opacity: .6;
    cursor: not-allowed;
    box-shadow: 0 0 0 2px 
    #746c6e;
    background: #817d7e;
    transition: .2s linear;
  }
  &:hover {
    background: #a43a55;
  }
}