@import "../../styles/variables";

.wishCard {
  color: $lightTextColor;
  display: block;
  position: relative;
  padding: 0;
  margin: 10px;
  border-radius: 10px;
  will-change: transform;
  box-shadow: 0px 3px 20px -8px #0000005e;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.1s ease-in-out;

  &:hover {
    box-shadow: 0px 3px 20px -8px rgba(0, 0, 0, 0.82);
  }

  .wishCard__baseInfo {
    color: $lightTextColor;
    background-image: $primary-dark-gradient;
    padding: 2rem;
  }

  .wishCard__optionalInfo {
    padding: 1.2rem;
    background-image: $secondary-dark-gradient;
  }

  &__cover {
    width: 100%;
    padding-bottom: 75%;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.wishCard__tag {
  font-size: 12px;
  border-radius: 8px;
  background: $lightblue-transparent;
  color: $lightTextColor;
  padding: 2px 7px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  width: fit-content;
  max-width: 100%;
}

.wishCard:hover .details__button {
  opacity: 1;
  transition: .1s ease-in-out;
  height: 22px;
}

.details__button {
  position: absolute;
  width: 100%;
  bottom: 0;
  background: #a43a54de;
  text-align: center;
  opacity: 0;
  margin: 0;
  height: 0;
  padding: 0;
}

