@import "./../../styles/mixins";

.wishList {
  @include flexCentered();
  align-items: flex-start;
  list-style: none;
  padding: 0 0 10px 0;
  margin: 0;
  position: relative;

  .wishList__element {
    width: 25%;
    position: relative;
  }

  @include desktop {
    .wishList__element {
      width: 33.33333333% /* при ширине браузера меньше 1200px будет по 3 блока в ряд */;
    }
  }
  @include tablet {
    .wishList__element {
      width: 50% /* при ширине браузера меньше 992px будет по 2 блока в ряд */;
    }
  }
  @include mobile {
    .wishList__element {
      width: 100% /* при ширине браузера меньше 576px будет по 1 блоку */;
    }
  }

  h3 {
    text-align: center;
  }
}
@keyframes slide-up {
  from {
    transform: translateY(20);
  }
  to {
    transform: translateY(0);
  }
}
